pkgbase = lprsemu-bin
	pkgdesc = Emulator, debugger and assembler for LPRS1 ISA & CPU
	pkgver = 0.4.4
	pkgrel = 2
	url = https://github.com/filiparag/ftn-lprsemu
	arch = x86_64
	license = MIT
	source = lprsasm-0.4.4::https://github.com/filiparag/ftn-lprsemu/releases/download/0.4.4/lprsasm-0.4.4-gnu_linux-x86_64
	source = lprsemu-0.4.4::https://github.com/filiparag/ftn-lprsemu/releases/download/0.4.4/lprsemu-0.4.4-gnu_linux-x86_64
	sha256sums = 64046070849d4ac6e42a3df61fb44f69b400d87fa2f5f30de6c8a8ac934b11f3
	sha256sums = 28719df79cefa51637f6e99e419e1ddfa182cab599d3503f9c30f3625b3a44ca

pkgname = lprsemu-bin
